*{
    margin: 0;
    padding: 0;
    background-color: #fafcfa;
}
.container{
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-left: 300px;
    margin-top: 100px;
}